<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vibrantzz3.snipsearchadmin">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".signUp" />
        <activity android:name=".fillForm1" />
        <activity android:name=".InforPageForFreshLogin" />
        <activity android:name=".SalonProfile" />
        <activity android:name=".PhotosAll" />
        <activity android:name=".ServiceAll" />
        <activity android:name=".fillForm2" />
        <activity android:name=".fillForm3a" />
        <activity android:name=".fillForm4" />
        <activity android:name=".fillForm5" />
        <activity android:name=".fillForm6" />
        <activity android:name=".ServicesDetailView" />
        <activity android:name=".Settings" />
        <activity android:name=".editHours" />
        <activity android:name=".StylistList" />
        <activity android:name=".ManagePhotos" />
        <activity android:name=".editForm1" />
        <activity android:name=".editForm2" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAswSTGnC5Av8f-qbVPzYGa-WFSPBOPgU8" />
        <activity android:name=".fillForm3"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".editForm3" />
        <activity android:name=".editForm3a" />
        <activity android:name=".editForm4" />
        <activity android:name=".editForm5" />
        <activity android:name=".EditProfile" />
        <activity android:name=".editForm6" />
        <activity android:name=".fillForm5a" />
        <activity android:name=".ViewReviewActivity" />
        <activity android:name=".ViewFavouritesActivity" />
        <activity android:name=".ViewBeenHereActivity" />
        <activity android:name=".fillFormStartPage" />
        <activity android:name=".AddOffer" />
        <activity android:name=".ViewAppointments" />
        <activity android:name=".ViewOffers" />
        <activity android:name=".AppointmentDetaileView"/>
        <activity android:name=".editForm5a"/>
        <activity android:name=".SalonMenuActivity"/>
        <activity android:name=".SalonGallery"/>
    </application>

</manifest>